<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login_page</title>

    {{!-- home page --}}

    <link rel="stylesheet" href="./stylesheets/homestyle.css">
    <link rel="icon" href="./images/favicon.ico" type="image/x-icon">

     {{!-- login page --}}

    <!--Boxicons CDN-->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

    <!--Custom CSS-->
    <link rel="stylesheet" href="./stylesheets/style.css" />

    
</head>
<body>
    
    {{{body}}}

      <!--Script.js-->
    <script src="./js/script.js"></script>
    

</body>
</html>